<table mat-table  class="mat-elevation-z8">
    [dataSource]="signers"
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="fName">
      <th mat-header-cell *matHeaderCellDef> שם </th>
      <td mat-cell *matCellDef="let element"> {{element.fName}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="lname">
      <th mat-header-cell *matHeaderCellDef> משפחה </th>
      <td mat-cell *matCellDef="let element"> {{element.lName}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="mail">
      <th mat-header-cell *matHeaderCellDef> דוא"ל </th>
      <td mat-cell *matCellDef="let element"> {{element.mail}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>